@if (isAddingTask) {
    <app-new-task [userId]="userId" (close)="onCloseAddTask()"/>
}

<section id="tasks">
    <header>
        <h2>{{ name }}</h2>
        <menu>
            <button (click)="onStartAddTask()">Adicionar Tarefa</button>
        </menu>
    </header>

    @if (!selectedUserTasks || selectedUserTasks.length === 0) {
        <p>Não há tarefas disponíveis.</p>
    } @else {
        <ul>
            @for(task of selectedUserTasks; track task.id) {
                <li>
                    <app-task [task]="task"/>
                </li>
            }
        </ul>
    }
</section>

